<section id="alert">
  <h1>Alert</h1>
  <p>ARE YOU SUER YOU WANT TO DELETE THIS POST?</p>
  <div class="action_btn flex-row-space">
    <button id="delete-submit">Yes</button>
    <button id="cancel">No</button>
  </div>
</section>
