<section id="alert">
  <h1>Alert</h1>
  <p>ARE YOU SURE YOU WANT TO DELETE THIS POST?</p>
  <div class="action_btn flex-row-space">
    <button class="btn btn-outline-warning" id="delete-submit">Yes</button>
    <button class="btn btn-outline-secondary" id="cancel">No</button>
  </div>
</section>
