<div class="alert_box">
  <h1>Alert</h1>
  <p>ARE YOU SUER YOU WANT TO DELETE THIS POST?</p>
  <div class="action_btn flex-row-space">
    <button>Yes</button>
    <button>No</button>
  </div>
</div>
