<article >
  <a href="${board.url}">
    <img
      src="${post.thumbnail_photo}"
      alt="I am a unknown image"
      class="thumbnail"
    />
    <div class="card-body">
      <h5 class="card-title title">${post.title}</h5>
    <p class="count">How many posts included</p>
  </a>
</article>
