<% for (const board of boards ) { %> <% if (board.category !== "n/a") { %>

<article>
  <a class="post-link" href="/user_posts/<%= board.category %>">
    <img
      src="https://cdn.dribbble.com/users/2217210/screenshots/14671071/media/cb109bb7b5238e21bed7b1b64dd261ec.jpg"
      alt="I am a unknown image"
      class="thumbnail"
    />
    <div class="card-body">
      <h5 class="card-title title"><%= board.category %></h5>
      <p class="count"><%= board.count %></p>
    </div>
  </a>
</article>
<% } %> <% } %>
