<article >
  <a href="/upo">
    <img
      src="https://cdn.dribbble.com/users/2217210/screenshots/14671071/media/cb109bb7b5238e21bed7b1b64dd261ec.jpg"
      alt="I am a unknown image"
      class="thumbnail"
    />
    <div class="card-body">
      <h5 class="card-title title">${board.title}</h5>
    <p class="count">How many posts included</p>
  </a>
</article>
