<section id="popup" class="edit_board">
  <form action="" class="flex-row-space">
    <div class="image_edit flex-col">
      <img src="" alt="board image" />
      <button>UPLOAD an image</button>
    </div>
    <div class="flex-col">
      <label for="board">Name</label>
      <input type="text" placeholder="Your board name of you like" />
      <label for="Description">Description</label>
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <button id="cancel">Cancel</button>
      <button id="done">Done</button>
    </div>
  </form>
</section>
