<section id="popup" class="edit-post box-container">
  <form action="" class="flex-row-space">
    <div class="image_edit flex-col field">
      <img
        src="https://cdn.dribbble.com/users/5022377/screenshots/14672857/media/1d37d9d8ceb9132900d349c204909093.png"
        alt="board image"
      />
      <button class="btn btn-outline-secondary" id="delete-btn-post">
        Delete
      </button>
    </div>
    <div class="flex-col field">
      <label for="board">Board</label>
      <input type="text" />
      <label for="title">Title</label>
      <input type="text" />
      <label for="Tag">Tags</label>
      <input type="text" />
      <label for="Description">Description</label>
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <button class="btn btn-outline-info" id="cancel-btn">Cancel</button>
      <button class="btn btn-outline-info" id="update">Update</button>
    </div>
  </form>
</section>
