<section id="popup" class="edit-post">
  <form action="" class="flex-row-space">
    <div class="image_edit flex-col">
      <img src="" alt="board image" />
      <button id="delete-btn-post">Delete</button>
    </div>
    <div class="flex-col">
      <label for="board">Board</label>
      <input type="text" />
      <label for="title">Title</label>
      <input type="text" />
      <label for="Tag">Tags</label>
      <input type="text" />
      <label for="Description">Description</label>
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <button id="cancel-btn">Cancel</button>
      <button id="update">Update</button>
    </div>
  </form>
</section>
