<section id="popup" class="edit_board box-container">
  <form action="" class="flex-row-space">
    <div class="image_edit flex-col field">
      <img
        src="https://cdn.dribbble.com/users/5022377/screenshots/14672857/media/1d37d9d8ceb9132900d349c204909093.png"
        alt="board image"
      />
      <button>UPLOAD an image</button>
    </div>
    <div class="flex-col field">
      <label for="board">Name</label>
      <input type="text" placeholder="Your board name of you like" />
      <label for="Description">Description</label>
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <button id="cancel">Cancel</button>
      <button id="done">Done</button>
    </div>
  </form>
</section>
