<div class="fav_box">
  <a href="${post.url}">
    <img
      src="https://cdn.dribbble.com/users/146124/screenshots/14664420/media/48be6b80d8b275d5d54e7fe86c567bc6.jpg"
      alt="I am a unknown image"
      class="thumbnail"
    />
  </a>

  <div class="">
    <!-- <h5 class="card-title title">${post.most_title}</h5>
    <p class="card-text description">${post.most_description}</p> -->
    <div class="title">fav title</div>
  </div>
  <div class="flex-row-space">
    <p class="post-owner">Owner</p>
    <div class="flex-row-center">
      <p class="rating"><i class="fa fa-star"></i></p>
      <p class="liked"><i class="fa fa-heart"></i></p>
    </div>
  </div>
</div>
