<a href="${post.url}" class="card box">
  <div class="card-img-top image_edit">
    <img
      src="https://cdn.dribbble.com/users/146124/screenshots/14664420/media/48be6b80d8b275d5d54e7fe86c567bc6.jpg"
      alt="image"
      class="thumbnail box_img"
    />
  </div>
  <div class="card-body">
    <img
      src="https://cdn.dribbble.com/users/146124/screenshots/14664420/media/48be6b80d8b275d5d54e7fe86c567bc6.jpg"
      width="50"
      class="avatar"
      alt=""
    />
    <h5 class="title">Fake Title</h5>
  </div>
  <div class="">
    <p class="post-owner">id</p>
  </div>
</a>
