<div class="card">
  <a href="${post.url}">
    <img
      src="${post.thumbnail_photo}"
      alt="I am a unknown image"
      class="thumbnail"
    />
    <div class="card-body">
      <h5 class="card-title title">${post.most_title}</h5>
      <p class="card-text description">${post.most_description}</p>
    </div>
    <div class="card-footer">
      <p class="post-owner">Owner: ${post.most_user_id}</p>
      <p class="date-posted">${post.most_date_created}</p>
      <p class="rating">${post.most_rating}</p>
      <p class="liked">${post.most_is_liked}</p>
    </div>
  </a>
</div>
