<footer class="page-footer">
  <button id="toTop" class="hidden">
    <i class="fa fa-angle-double-up fa-2x"></i>
  </button>
</footer>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
  crossorigin="anonymous"
></script>

<script src="/scripts/helper.js"></script>
<script src="/scripts/upload.js"></script>
</html>