<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><i class="fa fa-scribd fa-2x"></i></a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav navbar-nav mr-auto mt-2 mt-lg-0">
        <% if (user) { %> <%- include('../create_post'); %>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#create-post"
            >CREATE A POST</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">VIEW MY BOARDS</a>
        </li>
        <% } %>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <fieldset class="dropdown">
          <select class="drop-menu">
            <option selected>--Pick a Category!--</option>
            <option value = "Entertainment">Entertainment</option>
            <option value = "Sports">Sports</option>
            <option value = "Techology">Techology</option>
            <option value = "Fashion">Fashion</option>
            <option value = "Food">Food</option>
            <option value = "Animals">Animals</option>
            <option value = "Plants">Plants</option>
            <option value = "Art">Art</option>
            <option value = "Lifestyle">Lifestyle</option>
            <option value = "Science">Science</option>

          </select>
        </fieldset>
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit" id="sort-posts-button">
          Sort
        </button>
      </form>
      <%- include('../login'); %> <%- include('../register'); %>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fa fa-user-circle-o fa-2x"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if (!user) { %>
          <button
            type="button"
            class="btn btn-primary pl-4 pr-4"
            data-toggle="modal"
            data-target="#login-form"
          >
            Login
          </button>
          <button
            type="button"
            class="btn btn-warning"
            data-toggle="modal"
            data-target="#register-form"
          >
            Register
          </button>
          <% } %> <% if (user) { %>
          <form action="/logout" method="POST">
            <button class="btn btn-danger" type="submit">Logout</button>
          </form>
          <% } %>
        </div>
      </li>
    </div>
  </nav>
</header>
