<div id="fav-post-area">
  <div class="fav_box"><%- include('./fake_favo'); %></div>
  <div class="fav_box"><%- include('./fake_favo'); %></div>
  <div class="fav_box"><%- include('./fake_favo'); %></div>
  <div class="fav_box"><%- include('./fake_favo'); %></div>
</div>