<article class="">
  <a href="${post.url}">
    <img
      src="${post.thumbnail_photo}"
      alt="I am a unknown image"
      class="thumbnail"
    />
    <div class="card-body">
      <h5 class="card-title title">${post.title}</h5>
      <p class="card-text description">${post.description}</p>
    </div>
    <div class="card-footer">
      <p for="" class="post-owner">Owner: ${post.user_id}</p>
    </div>
  </a>
</article>
