<article>
<a href="${post.url}">
<div class="image_edit">
<img src="${post.thumbnail_photo}" alt=" I am a unknown thumbnail" class="thumbnail">  
<button>Delete</button>
</div>
<div class="post_detail">
  <label for="board">url:</label>
<p class="url">${post.url}</p>  
<label for="title">Title</label>
</a>  <label for="Tag">Detail</label>
<p class="description">${post.description}</p>
<p for="" class="post-owner">Owner: ${post.user_id}</p>
      <p class="date-posted">${post.date_created}</p>
      <p for="" class="rating">${post.rating}</p>
      <p for="" class="liked">${post.is_liked}</p>
    </a>
  <button>Edit</button>
</div>
</a>
</article>