<div class="card" style="width: 18rem">
    <a href="${post.url}"></a>
  <img src="${post.thumbnail_photo}" alt="" class="thumbnail" />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text description">${post.description}</p>
  </div>
  </a>
</div>
