<script type="text/javascript" src="/scripts/edit-post.js"></script>

<section
  id="post"
  class="box-container flex-row-space modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="image_edit flex-col field">
          <a href="url">
            <img
              src="https://cdn.dribbble.com/users/24158/screenshots/14668889/media/49b861d75d6a43bb96d91356ba37d3d7.jpg"
              alt=" I am a unknown thumbnail"
              class="thumbnail"
            />
          </a>
          <button class="btn btn-outline-secondary btn-block" class="mt-2">
            Delete
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div id="post" class="post_detail field">
          <label for="board">url:</label>
          <p class="url">post.url %></p>
          <label for="title">Title</label>
          <label for="Tag">Detail</label>
          <p class="description">post.description %></p>
          <p for="" class="post-owner">Owner: post.user_id %></p>
          <p class="date-posted">post.date_created %></p>
          <p for="" class="rating">post.rating %></p>
          <p for="" class="liked">post.is_liked %></p>

          <button class="btn btn-outline-info btn-block" id="edit">Edit</button>
        </div>
      </div>
    </div>
  </div>
</section>
