<% if (user) { %>
<section id="profile">
  <div class="flex-col-center">
    <img
      src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairDreads01&accessoriesType=Round&hairColor=Auburn&facialHairType=Blank&clotheType=Overall&clotheColor=Black&eyeType=Dizzy&eyebrowType=RaisedExcitedNatural&mouthType=Serious&skinColor=Light"
      alt="avatar"
    />
    <h2><%= user.name %></h2>
  </div>
  <% if (count) { %>
  <div class="flex-col-center">
    <div>
      <span class="ml-2">Posts: <%= count %></span>
    </div>
  </div>
  <% } %>
</section>
<% } %>
