<div class="profile">
  <div class="user-profile flex-col-center">
    <img
      src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairDreads01&accessoriesType=Round&hairColor=Auburn&facialHairType=Blank&clotheType=Overall&clotheColor=Black&eyeType=Dizzy&eyebrowType=RaisedExcitedNatural&mouthType=Serious&skinColor=Light"
      alt="avatar"
    />
      
  <h2 id="username"><%= user.username %></h2>
  </div>
  <div class="flex-col-center">
    <div>
      <span class="mr-2">count of boards</span>
      <span class="ml-2">count of pins</span>
    </div>
  </div>
</div>
