<section id="upload-field" class="flex-col">
  <img
    class="file-upload-image"
    src="https://cdn.dribbble.com/users/6228692/screenshots/14692482/media/65a7784e995b32a7cd49fa9d4ed8e298.png?compress=1&resize=1600x1200"
    alt="Link an image"
    id="post-image"
  />
  <div class="file-upload"></div>
  <label for="" id="upload-caption">Your image will display here.</label>
</section>
