<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  <main class="flex-row-space box-container">
    <form action="" class="flex-row-space">
      <div class="image_create flex-col">
        <img src="" alt="create a imag" />
        <button>UPLOAD IMAGE</button>
      </div>
      <div class="form_input flex-col">
        <label for="tag">Name</label>
        <input type="text" />
        <label for="title">Tags</label>
        <input type="text" />
        <button>create</button>
      </div>
    </form>
  </main>
  <%- include('./partials/footer'); %>
</body>
