<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  <main class="flex-hor">
    <form action="">
      <div class="image_create">
        <img src="" alt="create a imag" />
        <button>UPLOAD IMAGE</button>
      </div>
      <div class="form_input">
        <label for="tag">Name</label>
        <input type="text" />
        <label for="title">Tags</label>
        <input type="text" />
        <button>create</button>
      </div>
    </form>
  </main>
  <%- include('./partials/footer'); %>
</body>
