<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  <section class="flex-col-center box-container">
    <form action="" class="flex-row-space">
      <%- include('./partials/upload'); %>
      <div class="flex-col">
        <label for="tag">Name</label>
        <input type="text" />
        <label for="title">Tags</label>
        <input type="text" />
        <button type="submit" class="mt-2">create</button>
      </div>
    </form>
  </section>
  <%- include('./partials/footer'); %>
</body>
