<form action="">
  <div class="image_edit">
    <img src="" alt="board image" />
    <button>Delete</button>
  </div>
  <div class="form_input">
    <label for="board">Board</label>
    <input type="text" />
    <label for="title">Title</label>
    <input type="text" />
    <label for="Tag">Tags</label>
    <input type="text" />
    <label for="Description">Description</label>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <button>Cancel</button>
    <button>Update</button>
  </div>
</form>
