<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>

  <h1>Hello World</h1>

  <div class="post_area"><%- include('./partials/posts_each'); %></div>
  <%- include('./partials/footer'); %>
</body>
