<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="../scripts/login-page.js"></script>
  </head>

  <body>
    <h1>Login Page</h1>
    <h2>New User</h2>
    <form action="" class="login-form">
      <label for="name">Name: </label>
      <input type="text" name="name">
      <label for="username">Username: </label>
      <input type="text" name="username">
      <label for="password">Password: </label>
      <input type="text" name="password">
      <label for="email">Email: </label>
      <input type="email" name="email">
      <button class="login-btn">Login</button>
    </form>
  </body>
</html>
