<%- include('./partials/head'); %>
</body>
<body>
  <%- include('./partials/header'); %>

  <h1 class="flex-col-center mt-5">Register</h1>
  <form action="" class="login-form flex-col-center">
    <div class="flex-col">
      <label for="name">Name: </label>
      <input type="text" name="name" />
    </div>
    <div class="flex-col">
      <label for="username">Username: </label>
      <input type="text" name="username" />
    </div>
    <div class="flex-col">
      <label for="email">Email: </label>
      <input type="email" name="email" />
    </div>
    <div class="flex-col">
      <label for="password">Password: </label>
      <input type="text" name="password" />
    </div>

    <br />
    <button class="login-btn btn btn-primary btn-lg">Login</button>
  </form>
</body>
