<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  <main class="flex-col main-content">
    <h1 class="flex-col-center">Result Name</h1>

    <div class="center"><%- include('./partials/posts_each'); %></div>
  </main>
  <%- include('./partials/footer'); %>
</body>
