/* Flex Layout */
.flex-row-space {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
}
.flex-row-space-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Grid */
.grid {
  display: grid;
  grid-template-rows: auto 1fr;
}
/* Display Condition */
.hidden {
  display: none;
}

.visible {
  display: block;
}

/* Popup Edit Board */
.main-content {
  position: relative;
  transition: 0.5s;
}

.main-content#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

#popup {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
/* alert box */
#alert {
  border-radius: 0.8rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background-color: rgb(226, 115, 115);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  z-index: 1;
}
#alert.active {
  top: 40%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.center {
  position: relative;
  transition: 0.5s;
}

.center#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}
