/* Flex Layout */
.flex-row-space {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
}
.flex-row-space-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-center {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.flex-col-space {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-col-stretch {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

/* Display Condition */
.hidden {
  display: none;
}

.visible {
  display: block;
}
