/* Flex Layout */
.flex-row-space {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.flex-row-space-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Grid */
.grid {
  display: grid;
  grid-template-rows: auto 1fr;
}
