:root {
  --deepest-green: #0a4c4e;
}

button {
  font-family: "Texturina", serif;
}

/* h3,
h4,
h5 {
  color: #244751;
} */

/* Styles */

a {
  text-decoration: none;
  color: gray;
}
a:hover {
  text-decoration: none;
}

button {
  text-transform: uppercase;
}

/* Nav bar */
nav {
  background-color: #313c35;
}

header i {
  margin-left: 0.8rem;
}

/* Box Article */
article img {
  border-radius: 0.3rem;
  width: 100%;
}

article .thumbnail {
  border: 5px solid transparent;
  border-image: url(../images/gold.jpeg) 30 stretch;
}

article footer {
  padding-bottom: 1rem;
}

/* Post Elements */
.avatar {
  border-radius: 50%;
  width: 2rem;
}

/* Each Post */
article {
  border-radius: 1rem;
  font-size: 1rem;
  box-sizing: border-box;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* grid area */
#aside {
  grid-area: aside;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "profile"
    "fav-post";
  grid-gap: 1rem;
  place-self: start end;
}
#main-container {
  grid-area: main-container;
}

#post-area {
  grid-area: post-area;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  place-self: start end;
}
#fav-post-area {
  grid-area: fav-post;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem 1.5rem;
}

/* Grid name define */
#profile {
  grid-area: profile;
}

/* edit create board */
.box-container {
  background-color: #262e29;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
label {
  text-transform: uppercase;
  font-weight: 800;
  /* color: white; */
}
#input-field {
  width: 50%;
  padding: 2rem;
}
#upload-field {
  width: 50%;
}

#upload-field img {
  border-radius: 3rem;
  background-color: gray;
  width: 100%;
  margin-bottom: 2rem;
}

input {
  border-radius: 5rem;
  border: none;
  outline: none;
  padding: 0.5rem;
}

#rate {
  border-radius: 0.5rem;
  text-align: center;
  font-weight: 800;
}

textarea {
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 1rem;
  font-weight: 800;
}
select {
  border-radius: 5rem;
  border: none;
  outline: none;
  padding: 0.5rem;
}

/* remove dots from bootstrap */
.dropdown {
  list-style-type: none;
}

/* Individual Post Page */

.thumbnail {
  width: 100%;
}

.image_edit img {
  width: 100%;
}
.field {
  width: 50%;
  padding: 2rem;
}

.input-warning {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 3px solid orange;
  border-radius: 8px;
  margin-top: 1em;
  background-color: rgb(255, 49, 49);
}

.liked-true {
  color: rgb(255, 53, 53);
}

.fa-star {
  color: rgb(255, 148, 47);
  margin-right: 0 !important;
}

.fa-heart:hover {
  color: rgb(255, 53, 53);
  cursor: pointer;
}

.fa-star:hover {
  cursor: pointer;
}

/* equal-side */
.mid-container {
  background-color: #313c35;
  border-radius: 1rem;
  max-width: 80%;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.left-side {
  width: 50%;
  margin: 1rem;
}
.right-side {
  width: 50%;
  margin: 1rem;
}

/* image to fit  */
.post-img {
  width: 100%;
}
.comments {
  /* color: white; */
}

.modal-content {
  background: black;
}
