/* Styles */

a {
  text-decoration: none;
  color: gray;
}
a:hover {
  text-decoration: none;
}

/* Nav bar */
header i {
  margin-left: 0.8rem;
}

/* Box Article */
article img {
  width: 100%;
}

/* Post Elements */
.avatar {
  border-radius: 50%;
  width: 2rem;
}

/* Each Post */
article {
  border-radius: 2%;
  /* outline: 1px solid; */
  font-size: 1rem;
  box-sizing: border-box;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Upload image */
.upload-box {
  background-color: lightgray;
  width: 50%;
  height: 50%;
}
/* Grid */

/* grid area */
#aside {
  grid-area: aside;
  display: grid;
  grid-template-rows: 1fr 0.2fr auto;
  grid-template-areas:
    "profile"
    "search-area"
    "fav-post";
  grid-gap: 1rem;
  place-self: start end;
}

#post-area {
  grid-area: post-area;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  place-self: start end;
}
#fav-post-area {
  grid-area: fav-post;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem 1.5rem;
}

/* Grid name define */
#profile {
  grid-area: profile;
}
#search-area {
  grid-area: search-area;
}

/* edit create board */
.box-container {
  background-color: lightblue;
}

/* remove dots from bootstrap */
.dropdown {
  list-style-type: none;
}
