/* universal styles */
button {
  font-family: "Texturina", serif;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: gray;
}

a :hover {
  text-decoration: none;
}

label {
  text-transform: uppercase;
  font-weight: 800;
  color: white;
}

h2,
span {
  color: grey;
}

input {
  border-radius: 5rem;
  border: none;
  outline: none;
  padding: 0.5rem;
}

textarea {
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 1rem;
  font-weight: 800;
}

select {
  border-radius: 5rem;
  border: none;
  outline: none;
  padding: 0.5rem;
}

/* Header Nav bar */
header nav {
  background-color: #415b4b;
}

header i {
  margin-left: 0.8rem;
}

/* Each Article Post */
article {
  border-radius: 1rem;
  font-size: 1rem;
  box-sizing: border-box;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

article img {
  border-radius: 0.3rem;
  width: 100%;
}

article .thumbnail {
  border: 5px solid transparent;
  border-image: url(../images/gold.jpeg) 30 stretch;
}

article .avatar {
  border-radius: 50%;
  width: 2rem;
}

article footer {
  padding-bottom: 1rem;
}

/* Grid area - the big container is define in media. */
#main-container {
  grid-area: main-container;
}

#aside {
  grid-area: aside;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "profile" "fav-post";
  grid-gap: 1rem;
  place-self: start end;
}

#post-area {
  grid-area: post-area;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  place-self: start end;
}

#fav-post-area {
  grid-area: fav-post;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem 1.5rem;
}

/* Grid name define */
#profile {
  grid-area: profile;
}

/* edit create board */
.box-container {
  background-color: #52705e;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

#input-field {
  width: 50%;
  padding: 2rem;
}

#upload-field {
  width: 50%;
}

#upload-field img {
  border-radius: 3rem;
  background-color: gray;
  width: 100%;
  margin-bottom: 2rem;
}

#rate {
  border-radius: 0.5rem;
  text-align: center;
  font-weight: 800;
}

/* remove dots from bootstrap */
.dropdown {
  list-style-type: none;
}

/* Individual Post Page */
.thumbnail {
  width: 100%;
}

.image_edit img {
  width: 100%;
}

.input-warning {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 3px solid orange;
  border-radius: 8px;
  margin-top: 1em;
  background-color: #ff3131;
}

.liked-true {
  color: #ff3535;
}

.fa-star {
  color: #ff942f;
  margin-right: 0 !important;
}

.fa-star :hover {
  cursor: pointer;
}

.fa-heart:hover {
  color: #ff3535;
  cursor: pointer;
}

/* Container define */
.mid-container {
  background-color: rgba(76, 110, 88, 0.65);
  border-radius: 1rem;
  max-width: 80%;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.left-side {
  width: 50%;
  margin: 1rem;
}

.right-side {
  width: 50%;
  margin: 1rem;
}

.modal-content {
  background: #44544a;
}

/* image to fit  */
.post-img {
  width: 100%;
}

.modal-title {
  color: white;
}

article:hover {
  box-shadow: 0 5px 10px grey;
}

article > footer {
  color: grey;
}

span #post-rating {
  color: grey;
}

.post-link:hover {
  text-decoration: none;
}

#main-container > h3 {
  color: grey;
}

#fav-area > h3 {
  color: grey;
}
