@media only screen and (max-width: 540) {
  main {
    padding: 0.5rem;
  }
  #container {
    display: grid;
    grid-template-rows: 0.5fr 0.3fr 2fr auto;
    grid-template-areas:
      "profile"
      "search-area"
      "fav-post"
      "post-area";
    grid-gap: 2rem;
  }
}

/* Another tablet breakpoint is maximum width of 768px */
@media only screen and (max-width: 768px) {
  main {
    padding: 0.8rem;
  }
}

/* Tablet: minimum width of 768px  */
@media only screen and (min-width: 768px) {
  main {
    padding: 2rem;
  }
  #container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "post-area aside";
    grid-gap: 3rem 1.5rem;
  }
}

/* Another tablet breakpoint is minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  main {
    padding: 1rem;
  }

  /* Write CSS rules that target Tablets screen sizes downwards - including smartphones */
}

/* post */
