@media only screen and (max-width: 540) {
  main {
    padding: 0.5rem;
  }
}

/* Another tablet breakpoint is maximum width of 768px */
@media only screen and (max-width: 768px) {
  main {
    padding: 0.5rem;
  }
}

/* Tablet: minimum width of 768px to maximum width of 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    padding: 1rem;
  }
}

/* Another tablet breakpoint is minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  main {
    padding: 1rem;
  }
  /* Write CSS rules that target Tablets screen sizes downwards - including smartphones */
}
