@media only screen and (max-width: 540) {
  main {
    padding: 0.5rem;
  }
  #container {
    display: grid;
    grid-template-rows: 2.5fr auto;
    grid-template-areas:
      "aside"
      "main-container";
    grid-gap: 2rem;
  }

  #aside {
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    grid-template-areas:
      "profile"
      "fav-post";
    grid-gap: 2rem;
  }
}

/* Another tablet breakpoint is maximum width of 768px */
@media only screen and (max-width: 768px) {
  main {
    padding: 0.8rem;
  }
}

/* Tablet: minimum width of 768px  */
@media only screen and (min-width: 768px) {
  main {
    padding: 2rem;
  }
  #container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "main-container aside";
    grid-gap: 3rem 1.5rem;
  }
}

/* Another tablet breakpoint is minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  main {
    padding: 2rem;
  }

  /* Write CSS rules that target Tablets screen sizes downwards - including smartphones */
}
